<h1>Add your comment!</h1>
<% if @errors %>
    <ul>
      <% @errors.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
<% end %>
<%= form_for :comments, url: post_comments_path(@post) do |f| %>

  <%= f.label :body %>:
  <%= f.text_area :body %><br />

  <%= f.submit %>
<% end %>