<h3>Sign up</h3>
<%= render partial: './errors', locals: {errors: @errors} %>

<div class="row">
	<%= form_for :users, url: '/users', class: 'col s12' do |f| %>

      <div class="input-field col s12">
        <%= f.text_field :username, class: 'validate' %>
        <%= f.label :username %>
      </div>

      <div class="input-field col s12">
        <%= f.email_field :email, class: 'validate' %>
        <%= f.label :email %>
      </div>

      <div class="input-field col s12">
        <%= f.password_field :password, class: 'validate' %>
        <%= f.label :password %>
      </div>

      <div class="input-field col s12">
        <%= f.submit 'Create my account', class: 'btn waves-effect waves-light' %>
      </div>
	<% end %>
</div>