<div class="row">
  <% if @user != current_user %>
      <h3 class="flow-text"><%= @user.username %>'s page</h3>
      <h3 class="flow-text">Posts published by <%= @user.username %></h3>
      <%= render partial: 'post_link_list', locals: {user: @user, published: true} %>
  <% else %>
      <h3 class="flow-text">Your published posts</h3>
      <%= render partial: 'post_link_list', locals: {user: @user, published: true} %>
      <h3 class="flow-text">Your unpublished posts</h3>
      <%= render partial: 'post_link_list', locals: {user: @user, published: false} %>
  <% end %>

  <h3 class="flow-text"><%= @user.username %>'s liked post's</h3>
  <div class="collection">
    <% return_users_liked_post(@user).each do |vote| %>
        <%= link_to vote.votable.title, post_path(vote.votable), class: 'collection-item flow-text' %>
    <% end %>
  </div>
</div>