<h1>Edit your post!</h1>
<% if @errors %>
    <ul>
      <% @errors.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
<% end %>

<div id="libraries">
  <button class='inspirational_author' data-author='/shakespeare'>Shakespeare</button><br>
  <button class='inspirational_author' data-author='/rowling'>J-K Rowling</button><br>
  <button class='inspirational_author' data-author='/got'>George RR Martin</button>
</div>

<div id="predictions">
  <ul id='predicted_text'></ul>
</div>
<%= form_for :posts, url: post_path, method: 'PUT', html: {id: 'post-form'} do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title, value: @post.try(:title) %><br />

  <%= f.label :text %>:
  <%= f.text_area :text, value: @post.try(:text), disabled: true, id: 'user-text' %><br />

  <%= f.submit %>
<% end %>