<ul class="collection">
  <% @posts.each do |post|%>
    <li class="collection-item avatar">
      <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxNzgzMzkwNzMz/william-shakespeare-194895-1-402.jpg" alt="" class="circle">
      <span class="title"><%= link_to post.title, post_path(post)%></span>
      <p>Author:
        <%= link_to "#{post.author.username}", user_path(post.author.id) %>
      </p>
       <span class="secondary-content"><%= post.votes.count %> likes</span>
            <% if logged_in? && voted?(post) %>
              <%= link_to post_votes_path(post), method: 'CREATE', class: 'secondary-content' do %>
                  <i class="material-icons">thumb_up</i>
              <% end %>
          <% end %>
    </li>
  <% end %>
</ul>

<%= link_to new_post_path, class: 'btn-floating btn-large waves-effect waves-light red right pulse' do %>
    <i class="material-icons">add</i>
<% end %>


