<h1>Write a new post!</h1>

<%= form_for :post do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :text %>:
  <%= f.text_area :text %><br />

  <%= f.submit %>
<% end %>