<h1>Write a new post!</h1>
<% if @errors %>
    <ul>
      <% @errors.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
<% end %>

<div id="libraries">
  <button class='inspirational_author' data-author='/shakespeare'>Shakespeare</button><br>
  <button class='inspirational_author' data-author='/rowling'>J-K Rowling</button><br>
  <button class='inspirational_author' data-author='/got'>George RR Martin</button>
</div>

<div id="predictions">
  <ul id='predicted_text'></ul>
</div>
<%= form_for :posts, url: posts_path, html: {id: 'post-form'} do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br/>

  <%= f.label :text %>:
  <%= f.text_area :text, disabled: true, id: 'user-text' %><br />

  <%= f.submit %>
<% end %>