<h1><%= @post.title %></h1>
<p><%= @post.text %></p>

<% if author?(@post) %>
  <%= link_to "Edit your post", edit_post_path(@post) %>
  <%= link_to "Delete your post", user_path(@post), method: "DELETE" %>
<% end %>

<% if logged_in? %>
	<%= link_to "Add a comment", new_post_comment_path(@post) %>
<% end %>