<div class="row">
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title center-on-small-only"><h3 class="flow-text" style="font-size: 200%"><%= @post.title %></h3></span>
          <span class="secondary-content"><%= @post.votes.count %> likes</span>
          <p class="flow-text" style="font-size: 110%">Written by: <%= link_to "#{@post.author.username}", user_path(@post.author.id) %></p>
          <p class="flow-text" id='post-text'><%= @post.text %></p>
          <% if logged_in? && voted?(@post) %>
              <%= link_to post_votes_path(@post), method: 'CREATE', class: 'secondary-content' do %>
                  <i class="material-icons">thumb_up</i>
              <% end %>
          <% end %>
        </div>
        <div class="card-action">
          <% if logged_in? %>
              <%= link_to 'Add a comment', new_post_comment_path(@post) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 center-align">
    <div id="tweet-container" class="btn btn-success clearfix">
      <a id="twitter-share-button"
        href="https://twitter.com/share"
        data-size="large"
        data-text="Check out this website"
        data-url="https://dev.twitter.com/web/tweet-button"
        data-hashtags="ghostwirter"
        data-via="twitterdev"
        data-related="twitterapi,twitter">
      </a>
      Share on Twitter
    </div>

    <div id="shareBtn" class="btn btn-success clearfix">Share on Facebook</div>
  </div>
</div>

<ul class="collection with-header">
  <li class="collection-header">
    <h4 class="flow-text">Comments</h4>
  </li>
  <% if @post.comments %>
    <% @post.comments.each do |comment| %>
      <li class="collection-item">
        <div class="row">
          <span class="flow-text" style="font-size: 100%;"><%= link_to comment.commenter.username, user_path(comment.commenter) %></span>
          <span class="secondary-content flow-text" style="font-size: 100%;"><%= comment.votes.count %> likes</span>

          <p class="flow-text" style="font-size: 120%"><%= comment.body %></p>

          <% if authorized?(comment.commenter_id) %>
            <%= link_to post_comment_path(@post,comment), method: 'DELETE', class: "btn-floating btn-small waves-effect waves-light red" do %>
              <i class="material-icons">delete</i>
            <% end %>
          <% end %>

          <% if voted?(comment) && logged_in? %>
            <%= link_to comment_votes_path(comment), method: 'CREATE', class: "btn-floating btn-small waves-effect waves-light red" do %>
              <i class="material-icons">thumb_up</i>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="row">
  <% if author?(@post) %>
      <div class="fixed-action-btn #6495ED toolbar">
        <a class="btn-floating btn-large #6495ED pulse">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li>
            <%= link_to edit_post_path(@post), class: 'waves-effect waves-light blue lighten-1 tooltipped' do %>
              <i class="material-icons tooltipped" data-position="top" data-delay="10" data-tooltip="Edit Post">mode_edit</i>
            <% end %>
          </li>

          <li>
            <%= link_to post_path(@post), method: "DELETE", class: 'waves-effect waves-light blue lighten-1 tooltipped' do %>
              <i class="material-icons tooltipped" data-position="top" data-delay="10" data-tooltip="Delete Post">delete</i>
            <% end %>
          </li>

          <% if !@post.published? && author?(@post) %>
              <li>
                <%= link_to post_path(:id => @post.id, :posts => { :published? => true}), method: 'PUT', class: 'waves-effect waves-light blue lighten-1 tooltipped' do %>
                    <i class="material-icons tooltipped" data-position="top" data-delay="10" data-tooltip="Publish Post">playlist_add</i>
                <% end %>
              </li>


          <% elsif @post.published? && author?(@post) %>
              <li>
                <%= link_to post_path(:id => @post.id, :posts => { :published? => false}), method: 'PUT', class: 'waves-effect waves-light blue lighten-1 tooltipped' do %>
                    <i class="material-icons tooltipped" data-position="top" data-delay="10" data-tooltip="Un-publish Post">not_interested</i>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>