<h1><%= @post.title %></h1>
<p><%= @post.text %></p>

<% if @post.comments %>
	<% @post.comments.each do |comment| %>
		<div>
			<%= "Place holder showing comment"  %>
			<p><%= comment.body %></p> 
			<% if authorized?(comment.commenter_id) %>
				<p><%= link_to "Delete your comment", post_comment_path(@post,comment), method: "DELETE" %></p>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if author?(@post) %>
  <%= link_to "Edit your post", edit_post_path(@post) %>
  <%= link_to "Delete your post", post_path(@post), method: "DELETE" %>
<% end %>

<% if logged_in? %>
	<%= link_to "Add a comment", new_post_comment_path(@post) %>
<% end %>

<% if !@post.published? && author?(@post) %>
	<%= link_to 'Publish', post_path(:id => @post.id, :posts => { :published? => true}), method: 'PUT'%>
<% end %>

<% if @post.published? && author?(@post) %>
	<%= link_to 'Unpublish', post_path(:id => @post.id, :posts => { :published? => false}), method: 'PUT'%>
<% end %>