<!DOCTYPE html>
<html>
  <head>
    <title>GhostwritrWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  		Ghost Writer
  		<% if logged_in? %>
  			<%= link_to 'logout', session_path(current_user), method: :delete %>
  		<% else %>
  			<%= link_to 'Sign Up', new_user_path %>
  			<%= link_to 'Log in', new_session_path %>
  		<% end %>
  		<%= link_to 'Home', "/" %>
  	</nav>
    <%= yield %>
  </body>
</html>
