<!DOCTYPE html>
<html>
  <head>
    <title>GhostwritrWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 1746239882353014,
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      document.getElementById('shareBtn').onclick = function() {
        postText = $('#post-text').text();
        FB.ui({
          method: 'share',
          display: 'popup',
          href: window.location.href,
          quote: postText,
        }, function(response){});
      };
    </script>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">GhostWriter</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <% if logged_in? %>
                <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
                <li><%= link_to 'logout', session_path(current_user), method: :delete %></li>
            <% else %>
                <li><%= link_to 'Sign Up', new_user_path %></li>
                <li><%= link_to 'Log in', new_session_path %></li>
            <% end %>
            <li><%= link_to 'Home', "/" %></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <% if logged_in? %>
                <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
                <li><%= link_to 'logout', session_path(current_user), method: :delete %></li>
            <% else %>
                <li><%= link_to 'Sign Up', new_user_path %></li>
                <li><%= link_to 'Log in', new_session_path %></li>
            <% end %>
            <li><%= link_to 'Home', "/" %></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
