<!DOCTYPE html>
<html>
  <head>
    <title>GhostwritrWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="nav-wrapper">
      <div class="navbar-fixed">
        <nav>
          <a href="/" class="brand-logo center">GhostWriter</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <% if logged_in? %>
                <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
                <li><%= link_to 'logout', session_path(current_user), method: :delete %></li>
            <% else %>
                <li><%= link_to 'Sign Up', new_user_path %></li>
                <li><%= link_to 'Log in', new_session_path %></li>
            <% end %>
            <li><%= link_to 'Home', "/" %></li>
          </ul>
        </nav>
      </div>
    </div>
    <ul class="side-nav" id="mobile-demo">
      <% if logged_in? %>
          <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
          <li><%= link_to 'logout', session_path(current_user), method: :delete %></li>
      <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Log in', new_session_path %></li>
      <% end %>
      <li><%= link_to 'Home', "/" %></li>
    </ul>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
